<div class="page-header-wrapper">
	<div class="page-header">
<!--  		<h1>{{ page.title }} {% if page.tagline %} <small>{{ page.tagline }}</small>{% endif %}</h1> -->
                <h1>
                    <div style="display:table; width:100%;">
                        <div style="display:table-cell;vertical-align:middle;float:left;">
                        {{ page.title }}
                        </div>
                    <img style="box-shadow:0px 0px 0px 0px;display:table-cell;vertical-align:middle;float:right" height=150px src="assets/images/wl.png">
                    </div>
                </h1>
  	</div>
</div>

<div class="row">
  <div class="span12">
    {{ content }}
  </div>
</div>
